*{
    padding: 0;
    margin: 0;
}

header{
    height: 70px;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

.sub{
    position: sticky;
    top:0px;
    background-color: white;
    padding: 10px;
    z-index: 9;
    border-bottom: black 2px solid;
}

.boton{
    position: absolute;
    text-decoration: none;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0,0,0,0.5);
    border: white 2px inset;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.boton:hover{
    background-color: white;
    color: black;
}


details ul{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px rgb(0,0,0,0.5);
    width: 300px;
}

details li{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    z-index: 9;
    font-size: 25px;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    color: red;
}

.indice a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

details a:hover{
    color: yellow;
}

header img{
    height: 100%;
}

.menu{
    display: flex;
}

.menu li{
    margin: auto;
    list-style: none;
}

summary{
    list-style: none;
    cursor: pointer;
}

summary:hover{
    color: red;
}

.banner{
    margin: 30px auto;
    width: 50%;
    text-align: center;
    font-size: 40px;
}

.banner h1{
    width: 100%;
    word-wrap: break-word;
}

.banner img{
    width: 100%;
}

video{
    width: 100%;
    margin: 20px auto 20px auto;
}

.banner p{
    font-size: 12px;
    text-align: right;
}
.texto{
    margin: 20px auto 20% auto;
    width: 50%;
    text-align: justify;
    font-size: 20px;
}

.texto img{
    width: 100%;
    margin: 20px auto 20px auto;
}

.texto audio{
    width: 100%;
}

.texto h2{
    margin: 20px auto 20px auto;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}